<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/arroz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arroz Tio João - Tio João</h5>
          <p class="card-text">1 Pacote de Arroz Branco Tio João 2Kg confira o prazo de validade na embalagem</p>
          <p class="card-text">R$ 13,99</p>
          <a href="#" class="btn btn-success container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/leite.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leite Integral UHT Italac 1L</h5>
          <p class="card-text">1 Litro de Leite Italac Após Aberto, Conservar sob Refrigeração 1°C a 10°C</p>
          <p class="card-text">R$ 3,99</p>
          <a href="#" class="btn btn-success container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/salgadinho.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Salgadinho Cheetos Onda Requeijão 140g</h5>
          <p class="card-text">1 Pacote de Salgadinho De Milho Onda Requeijão Elma Chips</p>
          <p class="card-text">R$ 8,99</p>
          <a href="#" class="btn btn-success container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/guarana.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guaraná Antarctica 2,5L</h5>
          <p class="card-text">Refrigerante guaraná antarctica 2,5 litros - 6 unidades Sonfira a validade</p>
          <p class="card-text">R$ 34,99</p>
          <a href="#" class="btn btn-success container-fluid" (click)="Comprar()">Comprar</a>
        </div>
    </div>
    
</div>
